@charset "UTF-8";

body {
  background-image: url("../img/IndexBg.png");
  flex-direction: column;
}

header {
  grid-area: header;
  
  justify-self: right;
  justify-content: flex-end;
}

h2 {
  font-family: "NotoSans_Light";
  font-size: 2.3vh;
  color: #3a3a3a;
  margin: 0.5rem;
  text-overflow: ellipsis;
}

h3 {
  font-family: "NotoSans_Light";
  color: #3f3f3f;
  padding-top: 10%;
  padding-bottom: 10%;
}

h4 {
  font-family: "NotoSans_Thin";
}

h5 {
  font-family: "NotoSans_Light";
  color: #555;
  font-size: 1.8vh;
  align-self: center;
}

h5#subtitle {
  grid-area: subtitle;
  font-size: 2.3vh;
  font-weight: bolder;
}

#container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 15vh 15% 40% 15% 15vh;
  grid-template-columns: 10vw 80vw 10vw;
  grid-template-areas:
    ". header ."
    ". msg ."
    ". character ."
    ". menu ."
    ". logo .";
  z-index: 1;
  justify-items: center;
  align-items: center;
}

#character {
  width: 100%;
  max-width: 100%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
}

#message {
  line-height: 1.2;
  font-size: 7.525vw;
  font-family: "봉숭아틴트";
  color: var(--darkgrey-title);
}

#menu {
  grid-area: menu;
  width: 100%;
  height: fit-content;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  justify-content: space-between;
}
#pron_layout {
  width: 80vw;
  height: 100%;
  min-height: fit-content;
  max-height: 53.5vh;
  bottom: 30vh;
  display: grid;
  grid-template:
    "title"
    "subtitle"
    "thumbnail"
    "exit";
  overflow: hidden;
  align-items: baseline;
}

#game_layout {
  min-width: 80vw;
  max-width: min-content;
  max-height: min-content;
  overflow: hidden;

  /* order 명령을 위한 flex */
  display: grid;
  grid-template-areas:
    "title"
    "list"
    "exit";
  background-color: lightblue;
  bottom: 53vw;
}

#exit {
  grid-area: exit;
  font-size: 3.5vh;
  color: #3b4e92;
  background-color: white;
}

#logo {
  grid-area: logo;
  padding: 2.5vh;
  height: 8vh;
}

#camera {
	display: none;
}

.msgbubble {
  grid-area: msg;
  position: relative;
  max-width: 100%;
  min-height: fit-content;
  max-height: fit-content;
  padding: 1em 1.5rem;
  background: #ffffff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: #efefef solid 1px;
  overflow-wrap: anywhere;
  text-align: center;
}

.msgbubble:after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 15px 9px 0;
  border-color: #ffffff transparent;
  display: block;
  width: 0;
  z-index: 1;
  margin-left: -9px;
  bottom: -15px;
  left: 83%;
}

.msgbubble:before {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 15px 9px 0;
  border-color: #efefef transparent;
  display: block;
  width: 0;
  z-index: 0;
  margin-left: -9px;
  bottom: -16px;
  left: 83%;
}

.characterBox {
  grid-area: character;
  background-color: rgba(245, 246, 248, 0.822);
  border-radius: 50%;
  border: 1vw solid #c4d4d469;
  width: 31vh;
  height: 31vh;
  overflow: hidden;
}

.title {
  font-family: "NotoSans_Thin";
  font-size: 5vw;
  line-height: 1.2;
  text-shadow: 0 0 1px #5555558a;
  color: #555;
  padding: 20%;
}

.menuBtn {
  border-radius: 2.5vw;
  border: solid 0.12em #ececec;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.75);
  width: 25vw;
  overflow-wrap: anywhere;
}

.menuBtn:active {
  box-shadow: 0 0.8rem 1rem 0 rgb(0 0 0 / 9%);
}

.overlayBG {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(148 148 148 / 50%);
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlayBG .cancel {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
}
.overlayBG:target {
  visibility: visible;
  opacity: 1;
}

.overlay_base_param {
  border-radius: 1rem;
  background-color: #ffffff;
  z-index: 15;
  position: absolute;
}

section#char_ratio {
  grid-area: character;
  width: 65vw;
  min-width: 50vw;
  max-width: 55vw;
  height: 65vw;
  min-height: 50vw;
  max-height: 55vw;
  position: relative;
  text-align: justify;
}

.games {
  grid-area: list;
  display: flex;
  flex-wrap: wrap;
}

.game_list > h2 {
  position: absolute;
  width: 40vw;
  font-weight: normal;
  padding: 0.3vh 0;
  text-shadow: 0 0 0.2rem #3f3f3f;
  font-size: 4vw;
  margin: auto;
  color: white;
  background-color: #ffffff24;
}

.level {
  margin: 0 1vw;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  grid-area: thumbnail;
  height: fit-content;
}

.level_Item_Box {
  width: 100%;
  height: fit-content;
}

.prontest_thumbnail {
  object-fit: contain;
  min-width: 50%;
  max-width: 80%;
  min-height: 50%;
  max-height: 100%;
  padding: 5%;
  background-color: aliceblue;
  border-radius: 15%;
  border: 1px solid rgba(190, 190, 190, 0.3);
}

.lvIcon_box {
  height: fit-content;
  filter: grayscale(0.8);
}

.lvIcon {
  width: 3.3vh;
  padding-top: 4%;
}

.game_list {
  width: 50%;
  max-width: 100%;
}

.gameThumbnail {
  width: 100%;
  height: 100%;
}

.menu_title {
  font-family: "NotoSans_Bold";
  font-size: 3vh;
  color: #ffffff;
  padding: 1rem;
  text-shadow: 0 0 2px #909090;
  grid-area: title;
  background-color: lightblue;
}