@charset "UTF-8";

body {
  flex-direction: column;
  background-size: 100%;
  background: linear-gradient(
    180deg,
    rgba(242, 247, 250, 0.5) 0%,
    rgba(242, 247, 250, 0.3) 0.01%,
    #f7f8f2 100%
  );
}

h4 {
  color: #555;
  font-weight: 100;
  letter-spacing: 0.05em;
  font-size: 4.5vw;
}

h5{
  display:table-row;
  color: #555;
  font-weight: 100;
  letter-spacing: 0.05em;
  font-size: 3.5vw;
  margin: 0 0 1em 0;
}

#container {
  position: relative;
  width: 100vh;
  height: 100vh;
  display: grid;
  grid-template-rows: 15vh 70vh 15vh;
  grid-template-columns: 10vw 80vw 10vw;
  grid-template-areas:
    ". header ."
    ". main ."
    ". nav .";
  z-index: 1;
}

#main {
  grid-area: main;
  width: 100%;
  height: 100%;
}

#load_Contents {
  position: relative;
  width: 100%;
  height: 50vh;
  top: 20%;
}

#pronTestMessage {
  color: #3f3f3f;
  font-weight: 300;
  padding: 7vw;
  display: table-cell;
  vertical-align: middle;
  text-overflow: ellipsis;
  font-size: 6.5vw;
}

.prontest_msgbox {
  position: static;
  width: 100%;
  height: 10.5rem;
  min-height: auto;
  max-height: fit-content;
  margin: 2vh 0 0;
  border-radius: 3vw;
  background-color: #ffffff;
  border: 0.1px solid #efefef;
  display: table;
}

.progress {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 25px; 
  height: 1.3vh;
  background: #d8d8d8;
  overflow: hidden;
  margin: 2vh 0;
}

.progress span {
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: #fbc574;
}

.greenWave {
  background-image: url("../img/wave.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
}
