@charset "UTF-8";

body {
  background-image: url("../img/resultBg.png");
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-family: "NotoSans_Regular";
  color: #cbcbcb;
  font-weight: 100;
  font-size: 7vmin;
}

h3 {
  font-family: "NotoSans_Thin";
  margin: 0%;
  color: white;
}

h5 {
  font-family: "NotoSans_Thin";
  color: white;
}

#container {
  display: grid;
  grid-template:
    "header"
    "card"
    "nav";
  width: fit-content;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#card_contents {
  display: grid;
  grid-area: main;
  grid-template-columns: 1fr 9fr 1fr;
}

#header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
}

#shareBtn {
  position: relative;
  color: #cbcbcb;
  display: inline;
  width: 13vw;
  right: 3vmin;
  top: 2.5vh;
  z-index: 5;
}

#resultCard {
  display: grid;
  border: 2px solid rgb(0 0 0 / 15%);
  box-sizing: border-box;
  background-color: #fafafa;
  border-radius: 3vw;
  height: 100%;
  width: 100%;
  grid-template:
    "img"
    "text"
    "rank";
  grid-template-rows: 37% 40% 23%;
}

#cardFrame {
  grid-area: card;
  height: 100%;
  max-width: 80vw;
  box-sizing: border-box;
  border-radius: 4vw;
  background-color: white;
  padding: 2%;
  box-shadow: 0 10px 30px 0 rgb(0 0 0 / 20%);
}

#charImg {
  width: 100%;
}

#charBox {
  grid-area: img;
  width: 100%;
}

#pronMsgSub {
  font-family: "NotoSerifKR";
  font-weight: 100;
  color: #3f3f3f;
  margin: 1rem;
  word-break: break-all;
  overflow: hidden;
  font-size: 2.5vmax;
}

#rankBar {
  background-image: url("../img/alcRank-BG.svg");
  background-size: cover;
  position: relative;
}

#foodImg {
    max-width: 80%;
    height: 100%;
}

#foodName {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  color: white;
}

.textContainer {
  grid-area: text;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 30% 70%;
}

.titlebox > h2 {
  font-family: "NotoSerifKR";
  font-size: 4.3vmax;
  font-weight: 100;
  color: #3f3f3f;
  text-decoration: #cec1ae underline;
  text-underline-position: under;
  
}

.titlebox > h4 {
  font-family: "NotoSerifKR";
  font-size: 2vmax;
  font-weight: 100;
  margin: 0.1rem;
}

.msgbox {
  width: 100%;
  overflow: hidden;
  height: 100%;
}

.rank {
  grid-area: rank;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.rankTable {
  display: flex;
  flex: 1 1 33.33%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 0 0 0.5rem 0.5rem;
  background-color: #cec1ae;
  align-items: center;
}

.rankIcons {
  display: flex;
  margin: 1vh;
  gap: 1vmin;
  height: 5vmin;
  justify-content: flex-end;
  align-content: center;
  align-items: stretch;
}

#rankdog {
  position: absolute;
  left: -4vw;
  bottom: -3.2vw;
  width: 22vmin;
  transform: scaleX(-1);
}

.rankcell {
  width: 100%;
  overflow: hidden;
  height: inherit;
  height: -webkit-fill-available;
}

@media screen and (max-width: 1024px) {
  /* 타블렛 */
  #container {
    display: grid;
    grid-template:
      "header"
      "card"
      "nav";
    grid-template-rows: 13% 75% 12%;
    max-width: min-content;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
  }
  #cardFrame {
    width: 54vmin;
  }
  h3 {
    font-size: 3vmax;
  }

  h5 {
    font-size: 2vmax;
  }
}

@media screen and (max-width: 500px) {
  /* 모바일 */
  #container {
    display: grid;
    grid-template:
      "header"
      "card"
      "nav";
    grid-template-rows: 10% 77% 13%;
    max-width: 80vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  #cardFrame {
    width: 80vmin;
  }
}