@charset "UTF-8";
/* body {
	margin:0; 초기화
	display: flex;           화면 중앙
	justify-content: center; 화면 중앙
	text-align: center;  글자 중앙	
	
	background: #ee9f01;
}

html,
body {
  height: 100%;
}
 */

#splashContainer{
  position: absolute;
  width:100%;
  height:100%;
  background: #ee9f01;
  z-index: 20;
}
#splashLogo{
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -64px;
  margin-top: -130px;
}

.instructions {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'jua', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 6px;
  padding: 8px;
}

#clickText{
  position:absolute;
  bottom:7vh;
  left:25vw;
  color: white;
  font-family: "봉숭아틴트";
  font-size: 7vw;
  animation-name: blink;
  animation-duration: 4.5s;
  animation-iteration-count: infinite;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:absolute;
  left: 50%;
  top: 50%;
  margin-left: -32px;
  margin-top: -130px;
  width: 64px;
  height:110px;
  margin-bottom:-7px; 
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.5,.45)     infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 18s;
}

@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(80px,0,0);
  }
}

@keyframes blink {
    0% {
        transform: scale(1.0);
        opacity: 1;
    }
    25% {
        transform: scale(1.0);
        opacity: 0.3;
    }
    50% {
        transform: scale(1.0);
        opacity: 1;
    }
    75% {
        transform: scale(1.0);
        opacity: 0.3;
    }
    100% {
        transform: scale(1.0);
        opacity: 1;
    }
}